.bg-nav{
    background-color: green !important;
}

#primaryNavigation:before{
    background-color: green !important;
}

.mr-2{
    margin-right: 5px !important;
}

.ml-2{
    margin-left: 5px !important;
}

.active{
    background: #f57c00;
}
.title a {
    color: #fff;
    font-weight: 600;
    line-height: 2.5875rem !important;
    text-transform: uppercase;
}